body {
    margin: 0;
    width: 100vw;
      height: 100vh;
    position: relative;
  }
  
  canvas {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .title {
    position: absolute;
    margin: 0;
    width: 100vw;
    height: 100vh;
  
    font-family: 'Helvetica';
    line-height: 100vh;
    text-transform: uppercase;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    text-align: center;
  }
 
h1 { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    font-size: 10vh;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

@media screen and (max-width: 480px){
    h1{
        font-size:30px;
    }
}